@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,800;1,300;1,400;1,500;1,600&family=Roboto&display=swap');

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navigation Bar Styles */
.banner-wrap{
    border-bottom: 8px solid #757575;
    background: white;
    color: black;
    height: 150px;
    /* position: fixed; */
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 70px;
    padding-left: 35px;
    padding-right: 35px;
}

.home-gif img{
    height: 70px;
}

.shopping-tags{
    padding: 5px;
}

.company-logo{
    height: 100px;
    
    
}

.order-button >button {
    color: black;
    background-color: rgba(229, 153, 13, 0.575);
    width: 200px;
    height: 50px;
    font-size: medium;
    border-radius: 10px;
}

.order-button >button:hover{
    cursor: pointer;
    background: #757575;
    color: white;
    font-size: large;
}

a{
    text-decoration: none;
    font-family: cursive;
    font-size: 20px;
    color: darkblue;
}

.search-bar >input {
    width: 500px;
    height: 40px;
    padding: 20px;
    font-size: large;
    margin-bottom: 10px;
    border-radius: 10px;
}


/* Top-page styles */
#top-page{
    /* background-image: url("General\ assets/pexels-andre.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: beige;
    border-bottom: 1px solid #757575;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 350px;
    row-gap: 20px;
    padding: 10px 35px;
}

#brands{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
    border-bottom: 1px solid #757575;
    background-color: beige;
    padding: 10px;
}


/* Form styling */
#form{
    width: 100%;
    /* max-width: 60%; */
    /* margin: 20px auto; */
    padding: 80px;
    border: 1px solid #ccc;
    background: beige;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.holder{
    border: none;
    height: 2cm;
    width: 800px;
}



/* Card Styles */
.card{
    border: 2px solid rgb(24, 21, 21);
    background: white;
    height: 300px;
    width: 550px;
    margin-right: 15px;
    text-align: center;
    border-radius: 20px;
}



.section-title{
    justify-content: center;
    text-align: center;
    padding-top: 15px;
    font-size: 400;
}

/*  Images Edits */
.phone-images{
    height: 500px;
    width: 450px;
}

.phone-images:hover{
    cursor: zoom-in;
}

.tablet-images{
    height: 500px;
    width: 450px;
}

.laptop-images{
    height: 500px;
    width: 450px;
}

.tv-images{
    height: 500px;
    width: 450px;
}

.watch-images{
    height: 500px;
    width: 450px;
}


/* Section Edits */
#phone-section{
    border-bottom: 10px solid black;
    background: rgb(90, 103, 114);  
    padding-bottom: 20px;
}

#tablets-section{
    border-bottom: 10px solid black;
    background: rgb(90, 103, 114);
    padding-bottom: 20px;
}

#laptop-section{
    border-bottom: 10px solid black;
    background: rgb(90, 103, 114);
    padding-bottom: 20px;
}

#tv-section{
    border-bottom: 10px solid black;
    background: rgb(90, 103, 114);
    padding-bottom: 20px;
}

#watch-section{
    border-bottom: 10px solid black;
    background: rgb(90, 103, 114);
    padding-bottom: 20px;
}

/* Different selections */



.phone-selections{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-row-gap: 10px;
}

.phone-selections  p{
    font-size: large;
    /* font-family: 'Times New Roman', Times, serif; */
    font-weight: 300;
}

.tablet-selections{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-row-gap: 5px;
}

.tablet-selections p {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}

.laptop-selections{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-row-gap: 5px;
}

.laptop-selections p {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}

.tv-selections{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-row-gap: 5px;
}

.tv-selections p{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}

.watch-selections{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-row-gap: 5px;
}

.watch-selections p{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}


.phones{
    background: white;
    color: black;
    font-size: medium;
    border: 1px solid black;
    padding: 17px;
    margin-left:5px ;
    margin-right: 5px;
    width: 500px;
    text-align: center;
    border-radius: 20px;
}

.tablets{
    background: white;
    color: black;
    font-size: medium;
    border: 1px solid black;
    padding: 17px;
    margin-left:5px ;
    margin-right: 5px;
    text-align: center;
    border-radius: 20px;
}

.laptops{
    background: white;
    color: black;
    font-size: medium;
    border: 1px solid black;
    padding: 17px;
    margin-left:5px ;
    margin-right: 5px;
    text-align: center;
    border-radius: 20px;
}

.tvs{
    background: white;
    color: black;
    font-size: medium;
    border: 1px solid black;
    padding: 17px;
    margin-left:5px ;
    margin-right: 5px;
    text-align: center;
    border-radius: 20px;
}

.watches{
    background: white;
    color: black;
    font-size: medium;
    border: 1px solid black;
    padding: 17px;
    margin-left:5px ;
    margin-right: 5px;
    text-align: center;
    border-radius: 20px;
}

button{
    width: 200px;
    height: 50px;
    background-color: aquamarine;
    color: black;
    font-size: medium ;
    font-weight: 600;
    border-radius: 10px;
}

button:hover{
    cursor: pointer;
    background-color: red;
    color: black;
    font-size: large;
}

/* Footer Section Edits */
.footer-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
    flex-wrap: wrap;
    background: #202733;
    color: blanchedalmond;
    font-weight: 500;
}

.footer-heads{
    text-decoration: underline;
}

.text-image{
    display: flex;
    align-items: center;
    flex-direction: row;
    
}